html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
.container {
  position: relative;
  width: 1320px;
  height: auto;
  display: flex;
  box-sizing: border-box;
}

/* NAVBAR */
.navbar_frame {
  background-color: rgb(85, 17, 150);
  height: 145px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.navbar_frame .container {
  padding: 20px 0px 14px;
  flex-direction: column;
  box-sizing: border-box;
}
.navbar_frame .navbar_top {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
}
.navbar_frame .navbar_top .nav_search_frame {
  width: 650px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 6px;
}
.navbar_frame .navbar_top > a img {
  height: 36px;
}
.navbar_frame .navbar_bottom {
  width: 100%;
  height: 50px;
  /* background-color: blue; */
}
.navbar_frame .navbar_top .search_box {
  padding: 10px 17px;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar_frame .search_box .category_list {
  width: 166px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 1px solid rgb(94, 94, 94);
}
.navbar_frame .category_list select {
  width: 140px;
  height: 30px;
  border: none;
  outline: none;
}
.navbar_frame .search_box input {
  margin-left: 12px;
  width: 387px;
  height: 22px;
  border: none;
  outline: none;
}
.navbar_frame .search_iconbox {
  width: 50px;
  height: 50px;
  background-color: yellow;
  display: flex;
  flex-direction: row;
  border-radius: 0px 6px 6px 0px;
}
.navbar_frame .nav_top_menu {
  margin-left: 59px;
  width: 450px;
  height: 50px;
  font-family: jost;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  cursor: pointer;
}
.navbar_frame .box_icon_box {
  position: relative;
  border: 1px solid rgb(153, 152, 152);
  border-radius: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navbar_frame .basket_count {
  position: absolute;
  top: -2px;
  right: -3px;
  width: 15px;
  height: 15px;
  background-color: yellow;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar_frame .box_info_box {
  /* border-left: 1px solid rgb(94, 94, 94); */
  width: 100px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar_frame .text1 {
  font-size: 14px;
  color: white;
  width: 100px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar_frame .text2 {
  font-size: 14px;
  color: white;
  width: 100px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* bottom starts here */
.navbar_frame .navbar_bottom {
  position: absolute;
  margin-top: 20px;
  border-top: 1px solid grey;
  bottom: 10px;

  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-family: jost;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: white;
}
.navbar_frame .nav_bottom_menu1 {
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navbar_frame .divtext0 {
  border-right: 1px solid grey;
  width: 185px;
  height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navbar_frame .divtext0 img {
  margin-right: 10px;
  width: 20px;
  height: 18px;
}
.navbar_frame .divtext1 {
  margin-right: 20px;
  width: 100px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar_frame .divtext1 a {
  font-family: jost;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: white;
}
.navbar_frame .divtext1 a.active {
  color: yellow;
}
.navbar_frame .nav_bottom_menu2 {
  width: auto;
  height: auto;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navbar_frame .divtext2 {
  margin-right: 20px;
  width: 100px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar_frame .divtext2 a {
  font-family: jost;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: white;
}
